/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Global styles */
html {
    font-size: 16px;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/img/bg-desktop.svg'), $c-violet;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center left;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}