@keyframes slideTop {
    0% {
        transform: translateY(-150px);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}